@model Thrift_Us.ViewModel.Product.ProduceCreateViewModel

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h4>ProduceCreateViewModel</h4>
        <hr />
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form  asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger text-centre"></div>
                   
                    <div class="form-group">
                        <label asp-for="ProductName" type="text" class="control-label">Product Name</label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Description</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Size" class="control-label">Size</label>
                        <input asp-for="Size" class="form-control" />
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Condition" class="control-label">Condition</label>
                        <input asp-for="Condition" class="form-control" />
                        <span asp-validation-for="Condition" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Category</label>

                        <select asp-for="CategoryId" asp-items="@(new SelectList(@Model.Categories, "CategoryId", "CategoryName"))" class="form-control"></select>

                           
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                
  
                    </div>

                    <div class="form-group">
                        <label asp-for="ImagePath" class="control-label">Image</label>
                        <input type="file" asp-for="ImagePath" class="form-control" multiple />
                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PostedOn" class="control-label">Posted On</label>
                        <input asp-for="PostedOn" class="form-control" />
                        <span asp-validation-for="PostedOn" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                        

                    </div>
                </form>
            </div>
        </div>

       
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
